# Node modules for both client and server
client/node_modules/
backend/node_modules/

# Build outputs
client/build/
backend/dist/



# OS system files
.DS_Store
Thumbs.db

# dotenv environment variables
client/.env
backend/.env

